.paralax-cont{
    max-width: 1350px;
    margin: auto;
}
.paralax{
    background-image: url(../img/paralax.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: 50% 50%;
    max-height: 100%;
    margin-top: 100px;
    height: 300px;
    color: white;
    h1{
        font-size: 50px;
    }
    p{
        font-size: 20px;
    }
}